

body {
  height: 100vh;
  background: #878787;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background: linear-gradient(315deg, #bf73d8, #b75dd5);
  
}
.text-color {
  color: #b75dd5;
}
.title h1{
  color: white;
}
.quote {
  margin: auto;
}
.btn-color {
  
  font-size: 20px;
  font-weight: 500;
  border-radius: 5px;
  padding: 14px 28px;
  border: none;
  background-color: rgb(156, 111, 223);
  transition: all 0.4s;
  color: #e4e4e4;
}
h2::after{
  content:"";
  width: 95%;
  height:2px;
  background-color: #dab1ed;
  position: absolute;
  top:80px;
  right: 10px;
}

.btn-color:hover {
  background-color: rgb(174, 0, 255);
  border: 1px solid rgb(157, 73, 166);
  color: rgb(243, 243, 243);
}
h2 {
 
  letter-spacing: 2px;
  font-size: 20px;
  font-style: italic;
}
